data_dir: '__FUSION_DATA_DIR__'

sources:
  sysmon:
    type: windows_event_log
    channels:
      - Microsoft-Windows-Sysmon/Operational
    only_event_ids:
      - 1
      - 3
      - 7
      - 11
      - 13
      - 22
    include_xml: true
    render_message: true
    read_existing_events: false
    checkpoint_interval_secs: 5
    batch_size: 100
    event_timeout_ms: 5000
    max_event_data_length: 0

  vector_internal_logs:
    type: internal_logs

sinks:
  fusion_collector:
    type: http
    inputs:
      - sysmon
    uri: '__FUSION_COLLECTOR_URL__'
    method: post
    compression: none
    framing:
      method: bytes
    encoding:
      codec: json
    batch:
      max_events: 1
      max_bytes: 1048576
      timeout_secs: 1
    buffer:
      type: disk
      max_size: 268435488
      when_full: block
    acknowledgements:
      enabled: true
    healthcheck:
      enabled: false
    request:
      retry_attempts: 10
      retry_initial_backoff_secs: 1
      retry_max_duration_secs: 30

  local_agent_logs:
    type: file
    inputs:
      - vector_internal_logs
    path: '__FUSION_LOG_DIR__\vector-%Y-%m-%d.log'
    encoding:
      codec: json
